.site-header{
    background-color: #014E56;
    background-image: url(../../image/site-bg.png);
    background-repeat: no-repeat;
    width: 1440px;
    height: 700px;
    margin: 0 auto;
    padding-top: 77px;
    padding-bottom: 250px;
}

.site-header__hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.link:hover{
    opacity: 0.8;
}

.link:active{
    opacity: 0.6;
}

.site-header__menu{
    width: 380px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.list{
    list-style: none;
    display: flex;
    width: 140px;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.site-header__link{
    text-decoration: none;
    color: $main-color;
    font-weight: 600;
    font-size: 18px;
}

.site-header__link:hover{
    color: #F67E7E;
}

.site-header__link1{
    text-decoration: none;
    color: $main-color;
    font-weight: 600;
    font-size: 18px;
    width: 153px;
    padding: 11px 30px;
    border: 2px solid #FFFFFF;
    border-radius: 24px;
    background-color: #014E56;
    text-align: center;
}

.site-header__link1:hover{
    background-color: #F67E7E;
}

.site-header__link1:active{
    background-color: #fff;
    color: #002529;
}

.button{
    width: 30px;
    height: 30px;
    border: none;
    background-color: #014E56;
    margin: 0;
    padding: 3px;
    display: none;
}

.button__span{
    display: block;
    width: 20px;
    height: 4px;
    background-color: #fff;
    margin-bottom: 4px;
}

.header-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 139px;
    padding: 0;
}

.header-bottom__div{
    width: 635px;
    margin: 0;
    padding: 0;
}

.header-bottom__title, .header-bottom__strong{
    font-size: 100px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.header-bottom__strong{
    color: #F67E7E;
}

.header-bottom__about{
    width: 445px;
    margin: 0;
    padding: 0;
}

.header-bottom__span{
    display: block;
    width: 50px;
    height: 4px;
    background-color: #79C8C7;
    margin-bottom: 79px;
    padding: 0;
}

.header-bottom__text{
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}