.ready{
    margin: 0 auto;
    padding-top: 76px;
    padding-bottom: 76px;
    background-image: url(../../image/ready-bg.jpg);
    background-repeat: no-repeat;
    width: 1440px;
    height: 200px;
}

.ready__about{
    width: 917px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.ready__title{
    font-size: 48px;
    font-weight: 700;
    color: #012F34;
    margin: 0;
    padding: 0;
}

.ready__link{
    text-decoration: none;
    text-align: center;
    color: #012F34;
    font-size: 18px;
    width: 153px;
    margin: 0;
    padding: 10px 31px;
    background-color: #F67E7E;
    border: 2px solid #012F34;
    border-radius: 24px;
    display: block;
}

.ready__link:hover{
    background-color: #012F34;
    color: $main-color;
}

.ready__link:active{
    background-color: #fff;
    color: #012F34;
}